body {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    font-size: 20px;
    background: gray;
    color: white;
}

.container {
    width: 40vw;
    text-align: center;
    display: inline-block;
}

header {
    color: yellow;
}

header > p {
    font-size: 35px;
    font-weight: bold;
    color: yellow;
    margin: 0;
}

.top {
    padding-top: 30px;
}

.text > p {
    margin: 5%;
}